/* nav mobile */
@media (max-width: 1023px) {
  #navbar input {
    @apply flex w-[40px] h-[32px] absolute cursor-pointer opacity-0 z-[2];
  }

  #navbar span {
    @apply flex w-[29px] h-[2px] mb-[5px] relative rounded-[3px] z-[1] origin-[5px_0px];
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #navbar span:first-child {
    @apply origin-[0%_0%];
  }

  #navbar span:nth-last-child(2) {
    @apply origin-[0%_100%];
  }

  #navbar input:checked ~ span {
    @apply opacity-[1] rotate-[45deg] translate-x-[-1px] translate-y-[-1px];
    background: #36383f!important;
  }

  #navbar input:checked ~ span:nth-last-child(3) {
    @apply opacity-0 rotate-[0deg] scale-x-[0.2] scale-y-[0.2];
  }

  #navbar input:checked ~ span:nth-last-child(2) {
    @apply rotate-[-45deg] translate-x-[0px] translate-y-[1px];
  }

  #navbar .navbar-wrapper {
    @apply top-0 right-0 w-[100vw] h-[100vh] translate-x-[100%] opacity-0 duration-[0.3s];
  }

  #navbar .navbar-wrapper div {
    @apply shadow-2xl;
  }

  #navbar input:checked ~ .navbar-wrapper {
    @apply translate-x-0 opacity-[1];
  }
}

@media(min-width: 1024px) {
    #navbar input,
    #navbar span {
        display: none
    }
}

/* nav list */
#navbar .nav .nav-item {
  @apply flex items-center px-[8px] py-0 gap-x-[6px] justify-end lg:my-[unset] my-[16px];
}

#navbar .nav .nav-item .nav-link {
  @apply lg:text-[1.6rem] text-[1.8rem] lg:text-white text-[#2b2b2b] sm:font-[900] font-[700] uppercase p-0 transition-all duration-[0.25s];
}

#navbar .nav .nav-item .nav-link.active,
#navbar .nav .nav-item .nav-link.active ~ i {
  @apply text-primary;
}

#navbar .nav .nav-item i {
  @apply text-[1.4rem] lg:text-white text-[#2b2b2b] mb-[2px] transition-all duration-[0.25s];
}

#navbar .nav .nav-item .nav-link:hover,
#navbar .nav .nav-item .nav-link:hover ~ i {
  @apply text-primary;
}

/* nav contact */

#navbar .nav-contact-item {
  @apply p-[12px] border-solid border-[1px] transition-all border-primary rounded-full cursor-pointer mx-[9px] lg:mb-[unset] mb-[20px];
}
#navbar .nav-contact-icon {
  @apply lg:text-[2rem] lg:w-[2rem] lg:h-[2rem] text-[1.6rem] w-[1.6rem] h-[1.6rem] text-center lg:text-white text-[#2b2b2b];
}

#navbar .nav-contact-item:hover{
  @apply scale-[1.1];
}