.slick-arrow {
  @apply absolute top-[50%] translate-y-[50%] mx-[14px] text-[1.6rem] leading-[1.6rem] text-white z-[50] p-[14px] rounded-[50%] border-[1px] border-solid border-white;
}

.slick-arrow:hover {
    @apply opacity-[0.8];
}

.slick-arrow i {
    @apply w-[1.6rem] transition duration-[0.2s];
}


.slick-prev {
  @apply left-0;
}

.slick-next {
  @apply right-0;
}

.slick-next:hover i {
    @apply transform translate-x-[2px];
}

.slick-prev:hover i {
    @apply transform translate-x-[-2px];
}